:root {
  --bg-color: #f5eac2;
  --text-color: #2c1f33;
  --link-color: #d95d39;
  --menu-bg: #2c1f33;
  --menu-text: #f5eac2;
}

* {
  font-family: Oxygen, sans-serif, "Roboto", sans-serif;
}

html.dark {
  --bg-color: #2c1f33;
  --text-color: #f5eac2;
  --link-color: #ff9776;
  --menu-bg: #f5eac2;
  --menu-text: #2c1f33;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

hr {
  border: 2px dotted var(--link-color);
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}
