---

---

<div class="welcome">
  <h1>👋 Hi there! My name is Adam Dubicki</h1>
  <h2>I am a Full Stack Software Developer</h2>
  <div class="section" id="about-me">
	<h3>About Me</h3>
	<p>I am a full stack software developer living in beautiful Victoria, British Columbia. I received my bachelor's degree in computer science from UVic in August 2017. I have experience in software architecture and various frameworks such as Laravel, Nest JS, and NodeJS. When I am not coding, I enjoy long distance running and cycling. Climbing Mt. Finlayson in the summer is my favorite hike. When it's too cold for hiking, I am always keen to sit down and play some board games.</p>
	<p>I am self-taught in scratchboard art. I mostly draw animals. My designs can be purchased on&nbsp;<a class="text-primary" rel="noreferrer" href="https://www.redbubble.com/people/adubicki/explore?asc=u&amp;page=1&amp;sortOrder=recent">redbubble.</a> For other updates you can follow me on&nbsp;<a class="text-primary" href="https://www.instagram.com/a.j.dubicki" rel="noreferrer">instagram.</a></p>
	<iframe height="200" src="https://www.youtube.com/embed/-4wPE_KlKz4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>
  <div class="section" id="skills">
	<h3>Skills</h3>
	<p>LOREMIPSUM</p>
  </div>
  <div class="section" id="projects">
	<h3>Projects</h3>
	<p>LOREMIPSUM</p>
  </div>
  <div class="section" id="experience">
	<h3>Experience</h3>
	<p>LOREMIPSUM</p>
  </div>
  <div class="section" id="contact">
	<h3>Contact</h3>
	<a href="mailto:adamdubicki@outlook.com">Email: adamdubicki(at)outlook.com</a>
	<a href="https://www.linkedin.com/in/adam-dubicki/">Linkedin</a>
	<a href="https://github.com/adamdubicki">Github</a>
	<a href="https://www.redbubble.com/people/adubicki/explore?asc=u&amp;page=1&amp;sortOrder=recent">Redbubble</a>
  </div>

<style>
	.section {
		display: flex;
		flex-direction: column;
	}
</style>
