---
import "../styles/global.css";
import Sidebar from "../components/navigation/Sidebar.astro";
import Header from "../components/navigation/Header.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Adam Dubicki | Full Stack Developer</title>
  </head>
  <header class="header">
    <Header />
  </header>
  <body>
    <main class="container">
      <aside class="sidebar">
        <Sidebar />
      </aside>
      <div class="divider" aria-hidden="true"></div>
      <article class="main">
        <slot />
      </article>
    </main>
  </body>
  <ThemeIcon />

  <style>
    .container {
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      padding: 48px 24px;
      gap: 40px;
      align-items: stretch;
    }

    .divider {
      border-left: 2px dotted var(--link-color);
    }
    .main {
      flex: 1;
      min-width: 0;
    }

    @media (max-width: 712px) {
      .sidebar,
      .divider {
        display: none;
      }

      .container {
        margin-top: 48px;
      }
    }

    @media (min-width: 712px) {
      .header {
        display: none;
      }
    }
  </style>


</html>
